.content
  .row
    .span8.cont
      #orderFormContainer
        %h2 Place your order 
        = form_tag('/') do
          %label{:for => 'type'} Type:
          %p= select_tag "type", options_for_select([["Meat", "1"], ["Veggie", "2"], ["Vegan", "3"]])
          %label{:for => 'ingredients'} Ingredients:
          %p#meatIngredients
            - ['Turkey', 'Pork', 'Beef'].each do |meatIngredient|
              %p
                = check_box_tag 'meatIngredients', meatIngredient, @meatIngredient == meatIngredient
                = meatIngredient.humanize
          %p#veggieIngredients
            - ['Cheese', 'Mayonaise', 'Onion'].each do |veggieIngredient|
              %p.dsp_none
                = check_box_tag 'veggieIngredients', veggieIngredient, @veggieIngredient == veggieIngredient
                = veggieIngredient.humanize
          %p#veganIngredients
            - ['Avocado', 'Tomato', 'Lettuce'].each do |veganIngredient|
              %p.dsp_none
                = check_box_tag 'veganIngredients', veganIngredient, @veganIngredient == veganIngredient
                = veganIngredient.humanize
          = submit_tag 'Place your order'
    .span4.cont
      #currentOrderContainer
        %h3 Current Order: 
        %p#type 
          Type: 
          %span
        %p#ingredients
          Ingredients: 
          %span
