%h2 Place your order 
= form_tag('/welcome/post') do
  %label{:for => 'sandwichType'} Type:
  %p= select_tag "sandwichType", options_for_select([['Meat', 'meat'], ['Veggie', 'veggie'], ['Vegan', 'vegan']])
  %p Ingredients:
  %p#meatIngredients
    - ['Turkey', 'Pork', 'Beef'].each do |meatIngredient|
      = check_box_tag 'meatIngredients[]', meatIngredient, false
      = meatIngredient.humanize
  %p#veggieIngredients.dsp_none
    - ['Cheese', 'Mayonaise', 'Onion'].each do |veggieIngredient|
      = check_box_tag 'veggieIngredients[]', veggieIngredient, false
      = veggieIngredient.humanize
  %p#veganIngredients.dsp_none
    - ['Avocado', 'Tomato', 'Lettuce'].each do |veganIngredient|
      = check_box_tag 'veganIngredients[]', veganIngredient, false
      = veganIngredient.humanize
  %label{:for => 'receiver'} Send to:
  %p= text_field_tag 'receiver', nil, :placeholder => "Receiver's email address"
  %label{:for => 'requestor'} From:
  %p= text_field_tag 'requestor', nil, :placeholder => "Requestor's email address"
  = submit_tag 'Place your order'
