%h2 Place your order 
= form_tag('/welcome/post') do
  %label{:for => 'sandwichType'} Type:
  %p= select_tag "sandwichType", options_for_select([['Meat', 'meat'], ['Veggie', 'veggie'], ['Vegan', 'vegan']])
  %p Ingredients:
  %p#meatIngredients
    - ['Turkey', 'Pork', 'Beef'].each do |meatIngredient|
      = check_box_tag 'meatIngredients', meatIngredient, @meatIngredient == meatIngredient
      = meatIngredient.humanize
  %p#veggieIngredients.dsp_none
    - ['Cheese', 'Mayonaise', 'Onion'].each do |veggieIngredient|
      = check_box_tag 'veggieIngredients', veggieIngredient, @veggieIngredient == veggieIngredient
      = veggieIngredient.humanize
  %p#veganIngredients.dsp_none
    - ['Avocado', 'Tomato', 'Lettuce'].each do |veganIngredient|
      = check_box_tag 'veganIngredients', veganIngredient, @veganIngredient == veganIngredient
      = veganIngredient.humanize
  = submit_tag 'Place your order'
